{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel abonnement{% endblock %}

{% block body %}
    <h1>Créer un nouvel abonnement</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
